@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:where(.container, form, .input-field, header){
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    background: white;
    padding: 30px 65px;
    border-radius: 12px;
    row-gap: 20px;
    box-shadow: 0 5px rgb(0, 0, 0, 0.1) ;
}
 .container header{
    height: 65px;
    width:65px;
    background: #00adef;
    color: #fff;
    font-size: 2.5rem;
    border-radius: 50%;
 }
 .container h4 {
    font-size: 1.25rem;  
    color:#333;
    font-weight: 500;
 }
form .input-field{
    flex-direction: row;
    column-gap:10px;
   
}
.input-field input{
    height: 45px;
    width: 42px;
    border-radius: 6px;
    font-size: 1.125rem;
    outline: none;
    text-align: center;
    border: 1px solid #ddd;
}
.input-field input::-webkit-inner-spin-button,
.input-field input::-webkit-outer-spin-button{
    appearance: none;
}

form button{
    margin-top: 25px ;
    width: 100%;
    background: #3dc0f4;
    color: white;
    border:none;
    padding: 9px 0;
    cursor: pointer;
    border-radius: 6px; 
 
    font-size: 0.85rem;
    transition: all 0.2s ease;
}
form button.active {
pointer-events: auto;
background: #00adef;

}
form button:hover {
   background: #00adef;
}